
<app-navbar></app-navbar>

<div class="container" style="margin-top: 50px;">

    <div class="form-container">

    <form #form="ngForm" (ngSubmit)="submit(form)" class="example-form" autocomplete="off">

    <mat-form-field class="example-full-width" appearance="fill" >
      
      <mat-label> Name </mat-label>
      <input matInput style="width: 200px;" name="name" required [(ngModel)]='nameValue'>
      
    </mat-form-field>
    <br>
    <mat-form-field class="min-width" appearance="fill">
      <mat-label> Prefix
      </mat-label>
      <input matInput name="prefix" name="prefix" [(ngModel)]='prefixValue' required type="text">
      
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <mat-label> Description </mat-label>
        <textarea  [(ngModel)]='descriptionValue' name="description" style="height: 100px;" matInput placeholder="Description"></textarea>
      </mat-form-field>
      
      <br>

      <mat-checkbox  [(ngModel)]="active"  name="active" class="example-margin">
        Active
    </mat-checkbox>
<br>

    <mat-checkbox  [(ngModel)]="Public" name="public" class="example-margin">
        Public
    </mat-checkbox>
    

    <br><br>
    <button mat-raised-button color="primary" type="submit">Update</button>
    <button mat-raised-button color="accent" type="reset"> Clear </button>
    
  </form>
</div>
</div>


