<app-navbar></app-navbar>

<div class="container" style="margin-top: 100px;">
    <div class="form-container">
      <form [formGroup]="addPlatformForm" (submit)="submit()" autocomplete="off">
  
        <mat-form-field class="example-full-width" appearance="fill" >
          
          <mat-label> Platform </mat-label>
          <input matInput formControlName="platform" >
          <mat-error>
          <span *ngIf="addPlatformForm.controls.platform.errors"> This field is required </span>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width"  appearance="fill">
          <mat-label> Description
          </mat-label>
          <textarea matInput formControlName="description" style="height: 100px;"> </textarea>
        </mat-form-field>

        <mat-checkbox formControlName="onDesign" class="example-margin">
            On Design
        </mat-checkbox>
        <br>
        <mat-checkbox formControlName="onExecution" class="example-margin">
            On Execution
        </mat-checkbox>

        <br>
        <br>
        <input type="hidden" formControlName="projectID" [(ngModel)]="projectID">
        <button mat-raised-button color="primary" type="submit">Create</button>
        <button mat-raised-button color="accent" type="reset">Cancel</button>
        
      </form>
    </div>
  </div>