

.container{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 40%
    
}


.min-width{
    width: 30%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
