.erreur{
    width: 100%;
    height: 160px ;
    background-color:rgb(174, 204, 204);
    padding-left: 30px;
    padding-top: 30px;
}

.passed{
    background-color:RGBA(0,255,0,0.3);
    
}

.failed{
    background-color: RGBA(255,0,0,0.3);
   
}

.blocked{
    background-color: RGBA(0,0,255,0.3);

}

a {
    text-decoration: none !important;
    color: black;
}